<template>
<div>
   <h1>Bienvenue sur mon chat Nuxt!</h1>
   <ul class="chat-frontend">
    <li v-for="message in messages">
      <strong>{{message.name}}</strong>
      <p>{{ message.body}}</p>
    </li>
   </ul>
   <form class="" @submit="postMessage">
     <input type="text" name="" value="" placeholder="name" v-model ="name">
     <textarea name="name" v-model="newMessage" rows="8" cols="80" placeholder="Entrez votre message ici..."></textarea>
     <button type="submit" name="button" class="btn">Envoyer votre message</button>
   </form>
 </div>
</template>

<style>
  body {
  margin:50px;
  font-familly: sans-serif;
  }
  .chat-frontend {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .chat-frontend li {
      border-bottom: 1px solid #e5e5e5;
      margin-bottom: 20px;
  }

  form input {
    border: 0 none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin: 20px 0;
  }
  form textarea {
    border: 0 none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
    margin-bottom: 10px;

  }
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

</style>

<script>
 import axios from 'axios';
 import feathers from 'feathers/client';
 import socketio from 'feathers-socketio/client'
 import io from 'socket.io-client'
 export default {

   data: () => ({
    messages: [],
    name: '',
    newMessage: '',
    errors: []
   }),

   created() {
     axios.get(`http://localhost:3030/messages`)
    .then(response => {
      this.messages = response.data.data
    })
    .catch(e => {
      this.errors.push(e)
    })
  },
  methods: {

    postMessage: function(e) {
       e.preventDefault();
       axios.post(`http://localhost:3030/messages`, {
         body: this.newMessage,
         name: this.name
       })
        .then( () => {
          this.newMessage = ''
          this.name = ''

        })
    }
  },

  mounted() {
    const app = feathers().configure(socketio(io('http://localhost:3030')))
    app.service('messages').on('created', (message) => {
      this.messages.push(message);
    })
  }

 }
</script>
